<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>File Test(파일 입출력 테스트)</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" >
    <meta charset="UTF-8">
</head>
<body>
    <div class="main-container">
        <h2>파일 입/출력 테스트</h2>
        <div class="dropped-file-info">
            <table>
                <colgroup>
                    <col width="100">
                    <col width="300">
                </colgroup>
                <tbody>
                    <tr>
                        <th>이름</th>
                        <td id="name"></td>
                    </tr>
                    <tr>
                        <th>사이즈</th>
                        <td id="size"></td>
                    </tr>
                    <tr>
                        <th>확장자</th>
                        <td id="type"></td>
                    </tr>
                    <tr>
                        <th>마지막 수정 날짜</th>
                        <td id="lastModifiedDate"></td>
                    </tr>
                    <tr>
                        <th>상대경로</th>
                        <td id="webkitRelativePath"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="sub-container" id="drop_zone" ondrop="dropHandler(event)"
             ondragover="dragOverHandler(event)" ondragenter="dragEnterHandler(event)"
             ondragleave="dragLeaveHandler(event)">
            <span>이곳에 파일을 올려주세요.</span>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="/js/file.js" type="text/javascript"></script>
</body>
</html>